@use 'media';

#posts {
  .post {
    color: inherit;
  }

  .post + .post {
    padding-top: 48px;
    border-top: var(--color-border) solid 1px;
    margin-top: 48px;
  }

  .post-title a {
    color: inherit;
    &:hover {
      color: var(--color-text-accent);
    }
  }

  .excerpt {
    font-size: 0.875rem;
    color: var(--color-text-low-contrast);
  }

  .meta {
    font-size: 0.875rem;
    color: var(--color-text-low-contrast);

    a {
      color: inherit;
    }
  }
}
