@use 'media';

#posts {
  .post {
    color: inherit;
    margin: 24px 0;
  }

  .post-title {
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;
    }

    a {
      color: inherit;
      &:hover {
        color: var(--color-text-accent);
      }
    }
  }

  .excerpt {
    font-size: 0.875rem;
    color: var(--color-text-low-contrast);
  }

  .meta {
    font-size: 0.875rem;
    color: var(--color-text-low-contrast);

    a {
      color: inherit;
    }
  }
}
