#single {
  .title {
    margin-top: 0;
  }

  .prev-next {
    display: flex;
    justify-content: space-between;
    gap: 32px;

    > * {
      flex: 1;
    }

    > :first-child {
      text-align: left;
    }

    > :last-child {
      text-align: right;
    }
  }
}
